{% extends 'common/base.html' %}
{% load user_info %}
{% load uppercase %}

{% block content %}
    {% uppercase %}
    <h1 class="WELCOME-MESSAGE">Welcome!</h1>
    {% enduppercase %}
    <h1 class="LOGED-IN-MESSAGE">You are logged in as {{ user.display_name }}</h1>

{#    {{ static_time|time:'s' }}#}
{#    {{ dynamic_time|time:'s' }}#}
{% endblock %}


{% block content2 %}
    <div class="center-container">
        <img src="/media/src/Foro-Nacional-Caprino-768x549.jpg" alt="Cool goat" class="index-image">
    </div>
{% endblock %}